*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#f5f7fb;

color:#2c3e50;

}

a{

text-decoration:none;

}

button{

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-2px);

}